<div class="container">
    <h1>Olá!</h1>
    <h2>Esse projeto foi feito em AngularJS</h2>
    <h3>Utilizei Bootstrap, Jquery e DirPagination, espero que gostem :)</h3>
    <hr />
    <h3>Isael Anjos</h3>
    <h4>isael.r.anjos@gmail.com</h4>
    <h4>isael.r.anjos@hotmail.com</h4>
    <h4>+55 92 99537-4091</h4>
    <a href="https://www.facebook.com/isael.d.anjos" target="_blank"><img src="assets/images/facebook-icon.png" width="35"></a>
    <a href="https://twitter.com/isael_anjos" target="_blank"><img src="assets/images/twitter-icon.png" width="35"></a>
    <a href="https://www.linkedin.com/in/isael-anjos-61265a130/" target="_blank"><img src="assets/images/linkedin-icon.png" width="35"></a>

</div>
